@model Factory
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="justify-content-center d-flex">
    <form method="post" class="col-6">
        <div class="card">
            <div class="card-header bg-warning text-center bg-gradient">Fabrika Güncelleme Formu</div>
            <div class="card-body">


                <div class="row mb-3">
                    <label class="form-label">Fabrika Adı</label>
                    <input class="form-control" asp-for="Name" placeholder="Lütfen fabrika ismini giriniz." required />
                </div>
                <div class="row mb-3">
                    <label class="form-label">Fabrika Adresiı</label>
                    <input class="form-control" asp-for="Adress" placeholder="Lütfen fabrika adresini giriniz." required />
                </div>





            </div>
            <div class="card-footer text-center">

                <button type="submit" class="btn btn-primary">GÜNCELLE</button>
                <button type="reset" class="btn btn-secondary">TEMİZLE</button>
            </div>

        </div>
    </form>




</div>