@model Auditor
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="justify-content-center d-flex">
    <form method="post" class="col-6">
        <div class="card">
            <div class="card-header bg-warning text-center bg-gradient">Denetimci Güncelleme Formu</div>
            <div class="card-body">

                <div class="row mb-3">
                    <label class="form-label">Denetimci Adı</label>
                    <input class="form-control" asp-for="Name" placeholder="Lütfen denetimci adı giriniz." required />
                </div>
                <div class="row mb-3">
                    <label class="form-label">Denetimci Soyadı</label>
                    <input class="form-control" asp-for="LastName" placeholder="Lütfen denetimci soyadı giriniz." required />
                </div>

            </div>
            <div class="card-footer text-center">

                <button type="submit" class="btn btn-primary">GÜNCELLE</button>
                <button type="reset" class="btn btn-secondary">TEMİZLE</button>
            </div>

        </div>
    </form>


</div>